# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

OpenMP/.idea/.name
OpenMP/.idea/editor.xml
OpenMP/.idea/misc.xml
OpenMP/.idea/modules.xml
OpenMP/.idea/OpenMP.iml
OpenMP/.idea/vcs.xml
OpenMP/cmake-build-debug/.cmake/api/v1/query/cache-v2
OpenMP/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
OpenMP/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
OpenMP/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
OpenMP/cmake-build-debug/.cmake/api/v1/reply/cache-v2-0483226237a1e44842c9.json
OpenMP/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2639dd3cf08fa3a9e87c.json
OpenMP/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c0230a6ed9432b0f2db2.json
OpenMP/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
OpenMP/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-23T13-49-12-0376.json
OpenMP/cmake-build-debug/.cmake/api/v1/reply/target-APAI_ff_nn-Debug-d2e929ffaa85f7d62fbe.json
OpenMP/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ec18b641e945b69b470f.json
OpenMP/cmake-build-debug/.ninja_deps
OpenMP/cmake-build-debug/.ninja_log
OpenMP/cmake-build-debug/APAI_ff_nn
OpenMP/cmake-build-debug/build.ninja
OpenMP/cmake-build-debug/cmake_install.cmake
OpenMP/cmake-build-debug/CMakeCache.txt
OpenMP/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
OpenMP/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
OpenMP/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
OpenMP/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
OpenMP/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
OpenMP/cmake-build-debug/CMakeFiles/clion-environment.txt
OpenMP/cmake-build-debug/CMakeFiles/cmake.check_cache
OpenMP/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
OpenMP/cmake-build-debug/CMakeFiles/rules.ninja
OpenMP/cmake-build-debug/CMakeFiles/TargetDirectories.txt
OpenMP/cmake-build-debug/Testing/Temporary/LastTest.log
*.json
*.ninja

build/
